@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

a {
    text-decoration: none;
}

:root {
    --white : #ffffff;
    --blueBG : #F2FBFF;
    --primaryBlue: #DFF6FF;
    --blueSideBarBG : #47B5FF;
    --navyBlue: #256D85;
    --darkBlue : #06283D;
    --grayTopNav : #D9D9D9;
}

body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blueBG);
    font-family: 'Roboto', serif;
}

.left {
    background-color: var(--blueSideBarBG);
    position: fixed;
    left: 0;
    top: 0;
    width:20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLeft {
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.leftTop {
    position:absolute;
    top:0px;
}

.leftTop li {
    list-style-type:none;
    align-items: center;
    display:block;
    width:100%;
}
.leftTop li:hover {
    display:block;
    background-color: #06283D;
}

.leftFoot {
    position:absolute;
    bottom:0px;
}

.right {
    height:100%;
    width:80%;
    /* margin-left: 20%; */
    overflow: auto;
    right:0;
    top:0;
    position:absolute;
}

.containerRight {
    display:flex;
    margin: 0 10%;
}

.topNav {
    position: fixed;
    height:10%;
    background-color: var(--grayTopNav);
    width:80%;
    padding: 15px 20px; 
    z-index:10;
}

.containerTopNav {
    justify-content: space-between;
    display:flex;
    flex-direction: row;

}

.topNavLeft, .topNavRight {
    display:flex;
    align-items: center;
}

.content {
    margin:15% 0;
    display:flex;
    flex-direction: column;
    background-color: aqua;
    background: #FFFFFF;
    box-shadow: 0px 7px 32px rgba(0, 22, 35, 0.1);
    border-radius: 16px;
    padding:20px;
    justify-content: center;
    align-items: left;
    width:100%;
} 

input {
    border: 3px solid var(--grayTopNav);
    border-radius: 13px;
    padding:10px;
    margin-bottom:10px;
    width:100%;
}

button {
    background: var(--blueSideBarBG);
    border-radius: 13px;
    padding:10px;
    width:100%;
    color: var(--white)
}