@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

a {
    text-decoration: none;
}

:root {
    --white : #ffffff;
    --blueBG : #F2FBFF;
    --primaryBlue: #DFF6FF;
    --blueSideBarBG : #47B5FF;
    --navyBlue: #256D85;
    --darkBlue : #06283D;
    --grayTopNav : #D9D9D9;
}

body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blueBG);
    font-family: 'Roboto', serif;
}

.left {
    background-color: var(--blueSideBarBG);
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLeft {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* .right {
    height:100%;
    margin-left: 20%;
    overflow: auto;
}

.rightContainer {
    display:flex;  
} */

/* .topNav {
    position: fixed;
    height:10%;
    background-color: var(--grayTopNav);
    width:100%;
}

.containerTopNav {
    justify-content: space-between;
    display:flex;
    width:100%;
    flex-direction: row;
} */

/* .topNavLeft, .topNavRight {
    width:50%;
    display:flex;
} */
/* 
.content {
    padding:8% 5%;

} */
